
@{
    ViewBag.Title = "New_bidding";
    Layout = "~/Views/_LayoutPageServicer.cshtml";
}

<html>
<head>



</head>
<body>
    <div class="page-wrapper" style="min-height: 250px;">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title text-uppercase font-medium font-14">Bidding</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <div class="d-md-flex">
                        
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <h3 class="box-title">Update Item</h3>
                        @if (TempData["Success"] != null)
                        {<div class="container">
                                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                            </div>
                        }

                        @using (Html.BeginForm("New_bidding", "Servicer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="col-lg-4 offset-2">





                                    @*@Html.AntiForgeryToken()*@

                                    <div class="form-horizontal">


                                        <div class="input-group">



                                            <input id="Item_Id" type="text" class="form-control" name="Item_Id" style="display:none;" value="@Model.Id" />
                                        </div>




                                        Name
                                        <div class="input-group">

                                            <span class="input-group-addon">
                                                <i class="fas fa-bars" style="margin:0px;padding:10px;background-color:crimson;color:white;"> </i>
                                            </span>



                                            <input id="Name" type="text" class="form-control" name="Item_Name" value="@Model.Item_Name" />
                                        </div>



                                        Quantity
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class=" fas fa-clipboard-check" style="margin:0px;padding:10px;background-color:crimson;color:white;"> </i>
                                            </span>


                                            <input id="Quantity" type="text" class="form-control" name="Quantity" value="@Model.Quantity">
                                        </div>

                                        Date From
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-calendar" style="margin:0px;padding:10px;background-color:crimson;color:white;"> </i>
                                            </span>



                                            <input id="Date" type="date" class="form-control" name="Date_from" value="@Model.Date_from">
                                        </div> Date To
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-calendar" style="margin:0px;padding:10px;background-color:crimson;color:white;"> </i>
                                            </span>



                                            <input id="Date" type="date" class="form-control" name="Date_to" value="@Model.Date_to">
                                        </div>
                                    </div>

                                    <br />

                                    <div class="input-group">

                                        <input type="submit" value="Make Bid" class="btn btn-primary" />

                                    </div>
                                </div>



                                <div class="col-lg-4">



                                    <div class="input-group">

                                        <input id="Seller_Id" type="text" class="form-control" style="display:none;" name="Seller_Id" value="@Model.User_id">
                                    </div>
                                    Price
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check" style="margin:0px;padding:10px;background-color:crimson;color:white;"> </i>
                                        </span>


                                        <input id="price" type="text" class="form-control" name="price" value="@Model.Item_price">
                                    </div>
                                    Bid Amount
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check" style="margin:0px;padding:10px;background-color:crimson;color:white;"> </i>
                                        </span>

                                        <input id="Bid_amount" type="text" class="form-control" name="Bid_amount" value="@Model.Bid_amount">

                                    </div>

                                    Image
                                    <div class="Input-group">

                                        <input id="Seller_Id" type="text" class="form-control" style="display:none;" name="Approve" value="Pending">



                                        <img src="@Url.Content(Model.Image)" class="img-responsive" id="UserImage" style="width:250px;height:150px;" />



                                        @{TempData["Data1"] = @Url.Content(Model.Image); }

                                    </div>

                                </div>

                            </div>


                        }

                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>